@charset "UTF-8";
@font-face {
  font-family: Iokharic;
  src: url('../fonts/iokharic-font/Iokharic.ttf') format('truetype');
  font-family: Benguiat;
  src: url('../fonts/Benguiat.ttf') format('truetype');
  font-family: Tormenta;
  src: url('../fonts/Tormenta20.otf') format('opentype');
}



  body {
    background-color: #000000;
    color: #ffffff;
  }

  .container {
    text-align: center;
    padding: 20px;
  }

  .tituloConversor {
    font-family: "Tormenta";
    color: #ffffff;
    text-align: center; 
  }
  
  .converta {
    font-family: "torm";
  }
  
  .TO {
    color: #ffd700;
  }

  .platina {
    color: #5391c7;
  }

  .prata{
    color: #ffffff;
  }
  .cobre {
    color: #D98719
  }
  input {
    margin: 12px;
    padding: 20px;
    border-radius: 5px;
    color: black
  }

  input[type="number"] {
    text-align: right;
  }

  .input-container {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  
  .input-container label {
    display: block;
  }

  .caixa {
    display: flex;
    align-items: center;
    justify-content: center;

  }