table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-left: 1px solid #dddddd; /* mesma cor do nth-child */
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
  }
span{
  justify-content: right;
  text-align: right;
  justify-items: right;
  align-items: flex-end;
  align-content: flex-end;
}
  .botaoexpandirdescricao{
    text-align: right;
  }

  th.grupoarma{
text-align: left;
height: 40px;
  }

  div#extra_1{
    text-align: left;
  }
  
  th.tipoarma{
  text-align: center;
  display: none;
}

tr.showArmaSimplesLeves, 
tr.showArmaSimplesUmaMao, 
tr.showArmaSimplesDuasMaos, 
tr.showArmaSimplesDistancia, 
div.escondeSimplesLeves,
tr.showTipoSimplesLeves,
tr.showTipoSimplesUmaMao,
tr.showTipoSimplesDuasMaos,
tr.showTipoSimplesDistancia{
  display: none;
}


  tr:nth-child(even) {
    background-color: #dddddd;
    border: solid #dddddd;
  }

  td {
    text-align: center;
  }
  
  td.nomearma{
    text-align: left;
  }

  span {
    cursor: pointer;
  }
a {
  text-decoration: none;
  color: #0645ad;
  background: none;}